* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: Roboto, Arial;
}

h1 {
	text-align: center;
	margin-top: 20px;
}
.block {
	float: left;
	border: 1px solid black;
	margin-right: 1%;
	margin-top: 30px;
	background-color: HoneyDew;
}

.block1 {
	margin-left: 1%;
}

.title {
	float: right;
	border: 1px solid black;
	padding: 5px 20px 5px 20px;
	margin: -1px -1px 5px 0;
	font-size: 125%;
}

.title1 {
	background-color: LemonChiffon;
}

.title2 {
	background-color: WhiteSmoke;
}

.title3 {
	background-color: MistyRose;
}

.content {
	clear: right;
	margin: 15px;
	margin-bottom: 5px;
}

@media (min-width: 992px) {
	.block {
		width: 32%;
	}
}

@media (max-width: 767px) {
	.block {
		width: auto;
		margin-left: 1%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.block1, .block2 {
		width: 47%;
	}
	.block2 {
		float: right;
	}
	.block3 {
		width: auto;
		clear: both;
		margin-left: 1%;
	}
}
