* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header-nav {
	background-color: yellow;
	height: 50px;
	border-bottom: 2px solid black;
	padding: 5px;
}

#title {
	margin: 10px 0 20px;
	text-align: center;
}

.container-main {
	height: 1000px;
	background-color: AliceBlue;
	padding: 10px;
	margin: 10px;
}

.part-header {
	text-align: center;
}